/target
/lib
/classes
/checkouts
/audio
/text
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein-repl-history
.nrepl-port
*.sq3
*.m4a
*.txt
.DS_Store
resources/public/data/yabla
